.full-width-field {
    width: 100%;
 }

 .button-wrapper {
     text-align: center;
 }

 .mat-card {
    height: 70vh;
    width: 50vh;
    position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
 }

 .login-url {
     text-align: center;
     margin: 3em 0 0 0;
     color: rgb(79, 79, 235);
     text-decoration: underline;
     cursor: pointer;
 }