table {
    width: 100%;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }

  

  .mat-card-data .mat-card-header-data .h3{
    font-weight: bold !important;
  }
  
  .full-width-field {
    width: 100%;
 }

 .upper-box {
   padding: 10px;
 }

 .add-button {
   margin-bottom: 30px;
   text-align: center;
   padding: 10px;
 }

 .firstname-input-form {
  text-align: center;
 }

 .logout-button {
   margin-left: 20px;
 }